.app-header {
    background-color: #29487D;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    font-size: 20px;
    font-weight: bold;
}

.app-header > .header-icons > svg {
    margin: 0px 12px;
}

.app-header > .header-logo > img {
    width: 80px;
    background-color: transparent;
}